{% assign localArtefact = include.myArtefact %}
{% assign localCheckedRef = include.myCheckedRef %}
{% assign localCheckedRefType = include.myCheckedRefType %}
{% assign asList = include.asList %}
{% assign asError = include.emptyMeansError %}
{% assign purpose = include.myPurpose %}
{% assign errorString = include.myErrorString %}
{% assign warningString = include.myWarningString %}

{% comment %} ***** Error/Warning Numbers 110 - 129 reserved for ref issues **** {% endcomment %}

{% if asError %}
	{% assign missingRefMsgNo = "e110" %}
{% else %}
	{% assign missingRefMsgNo = "w111" %}
{% endif %}
{% assign errorList = errorString | split: ";" %}
{% assign warningList = warningString | split: ";" %}

{% if localCheckedRef == blank or localCheckedRef == nil %}
	{% assign myMsg = "Es muss mindestens eine Referenz für " | append: purpose | append: " angegeben werden!" %}
	{% include /functions/define-message.html ignore=localArtefact.ignore msgno=missingRefMsgNo msg=myMsg %}
	{% if asError %}
		{% assign errorList = errorList | push: out_msg %}
	{% else %}
		{% assign warningList = warningList | push: out_msg %}
	{% endif %}
{% else %}
	{% if asList %}
		{% assign localCheckedRefList = localCheckedRef %}
	{% else %}
		{% assign localCheckedRefList = "" | split: ";" %}
		{% assign localCheckedRefList = localCheckedRefList | push: localCheckedRef %}
	{% endif %}

	{% if localCheckedRefList.size == 0 %}
		{% assign myMsg = "Es muss mindestens eine Referenz für " | append: purpose | append: " angegeben werden!" %}
		{% include /functions/define-message.html ignore=localArtefact.ignore msgno=missingRefMsgNo msg=myMsg %}
		{% if asError %}
			{% assign errorList = errorList | push: out_msg %}
		{% else %}
			{% assign warningList = warningList | push: out_msg %}
		{% endif %}
	{% else %}
		{% for curRef in localCheckedRefList %}
			{% include /functions/get-link-to-artefact.html myRef=curRef myTypeString=localCheckedRefType %}
			{% if artefactRefErrorString == "none" %}
				{% assign myMsg = "Referenz '" | append: curRef | append: "' für " | append: purpose |
						append: " exististiert nicht!" %}
				{% include /functions/define-message.html ignore=localArtefact.ignore msgno="e112" msg=myMsg %}
				{% assign errorList = errorList | push: out_msg %}
			{% elsif artefactRefErrorString == ">1" %}
				{% assign myMsg = "Referenz '" | append: curRef | append: "' für " | append: purpose |
						append: " exististiert mehr als einmal!" %}
				{% include /functions/define-message.html ignore=localArtefact.ignore msgno="e113" msg=myMsg %}
				{% assign errorList = errorList | push: out_msg %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% assign errorString = errorList | join: ";" %}
{% assign warningString = warningList | join: ";" %}