{% assign stakeholderRoleRef = include.myStakeholderRoleRef %}
{% assign asList = include.myAsList %}
{% assign purpose = include.myPurpose %}
{% assign errorString = include.myErrorString %}
{% assign warningString = include.myWarningString %}

{% assign errorList = errorString | split: ";" %}
{% assign warningList = warningString | split: ";" %}


{% comment %} ***** Error/Warning Numbers 070 - 089 reserved for stakeholderRole ref issues **** {% endcomment %}

{% if stakeholderRoleRef == blank or stakeholderRoleRef == nil %}
	{% assign myMsg = "Es muss mindestens eine StakeholderRole-Referenz für " |
			append: purpose | append: " angegeben werden!" %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="e070" msg=myMsg %}
	{% assign errorList = errorList | push: out_msg %}
{% else %}
	{% if asList %}
		{% assign stakeholderRoleRefList = stakeholderRoleRef %}
	{% else %}
		{% assign stakeholderRoleRefList = "" | split: ";" %}
		{% assign stakeholderRoleRefList = stakeholderRoleRefList | push: stakeholderRoleRef %}
	{% endif %}

	{% if stakeholderRoleRefList.size == 0 %}
		{% assign myMsg = "Es muss mindestens eine StakeholderRole-Referenz für " |
				append: purpose | append: " angegeben werden!" %}
		{% include /functions/define-message.html ignore=artefact.ignore msgno="e070" msg=myMsg %}
		{% assign errorList = errorList | push: out_msg %}
	{% else %}
		{% for stakeholderRoleRef in stakeholderRoleRefList %}
			{% assign foundStakeholderRoles = site.stakeholderRoles | where:"acronym", stakeholderRoleRef %}
			{% if foundStakeholderRoles.size == 0 %}
				{% assign myMsg = "Stakeholder-Rolle '" | append: stakeholderRoleRef | append: "' exististiert nicht!" %}
				{% include /functions/define-message.html ignore=artefact.ignore msgno="e071" msg=myMsg %}
				{% assign errorList = errorList | push: out_msg %}
			{% endif %}
			{% if foundStakeholderRoles.size > 1 %}
				{% assign myMsg = "Es gibt mehr als eine Stakeholder-Rolle '" | append: stakeholderRoleRef |
						append: "' - bitte prüfen!" %}
				{% include /functions/define-message.html ignore=artefact.ignore msgno="e072" msg=myMsg %}
				{% assign errorList = errorList | push: out_msg %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% assign errorString = errorList | join: ";" %}
{% assign warningString = warningList | join: ";" %}