{% assign artefact = include.myArtefact %}

{% assign errorString = "" %}
{% assign warningString = "" %}

{% comment %}---------- First the generic checks -----------{% endcomment %}

{% include /functions/checks/generic/check-generic-aspects.html myArtefact=artefact
		myErrorString="" myWarningString="" %}

{% assign errorList = errorString | split: ";" %}
{% assign warningList = warningString | split: ";" %}


{% comment %} ***** Error/Warning Numbers 650 - 669 reserved for UC Diagram **** {% endcomment %}

{% comment %}---------- functionalRequirement -----------{% endcomment %}

{% comment %}---------- useCases -----------{% endcomment %}

{% comment %}---------- useCasesDetailedWithScenario -----------{% endcomment %}

{% comment %}---------- diagram -----------{% endcomment %}

{% assign errorString = errorList | join: ";" %}
{% assign warningString = warningList | join: ";" %}