{% assign artefact = include.myArtefact %}

{% assign errorString = "" %}
{% assign warningString = "" %}

{% comment %}---------- First the generic checks -----------{% endcomment %}

{% include /functions/checks/generic/check-generic-aspects.html myArtefact=artefact
		myErrorString="" myWarningString="" %}
{% include /functions/checks/generic/check-generic-refs.html myArtefact=artefact myCheckedRef=artefact.primaryActor
		myCheckedRefType="stakeholderRole" asList=false emptyMeansError=true
		myPurpose="'primaryActor'" myErrorString=errorString myWarningString=warningString %}
{% include /functions/checks/generic/check-generic-refs.html myArtefact=artefact myCheckedRef=artefact.secondaryActors
		myCheckedRefType="stakeholderRole" asList=true emptyMeansError=false
		myPurpose="'secondaryActors'" myErrorString=errorString myWarningString=warningString %}
{% include /functions/checks/generic/check-generic-refs.html myArtefact=artefact myCheckedRef=artefact.functionalRequirement
		myCheckedRefType="functionalRequirement" asList=false emptyMeansError=true
		myPurpose="zugehörige funktionale Anforderung" myErrorString=errorString myWarningString=warningString %}

{% assign errorList = errorString | split: ";" %}
{% assign warningList = warningString | split: ";" %}


{% comment %} ***** Error/Warning Numbers 670 - 689 reserved for Use Case **** {% endcomment %}

{% comment %}---------- ??? add here ??? -----------{% endcomment %}

{% assign errorString = errorList | join: ";" %}
{% assign warningString = warningList | join: ";" %}