{% assign artefact = include.myArtefact %}
{% assign errorString = include.myErrorString %}
{% assign warningString = include.myWarningString %}

{% assign errorList = errorString | split: ";" %}
{% assign warningList = warningString | split: ";" %}


{% comment %} ***** Error/Warning Numbers 000 - 099 reserved here! **** {% endcomment %}

{% comment %}---------- type -----------{% endcomment %}
{% if artefact.type %}
{% else %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="e001" msg="Type fehlt!" %}
	{% assign errorList = errorList | push: out_msg %}
{% endif %}

{% comment %}---------- acronym -----------{% endcomment %}
{% if artefact.acronym %}
	{% assign thisAcronym = artefact.acronym %}
	{% assign allAcronyms = site.functionalRequirements | where_exp:"fr", "fr.acronym == thisAcronym" %}
	{% if allAcronyms.size > 1 %}
		{% assign myMsg = "Acronym '" | append: thisAcronym |
			append: "' existiert mehrfach! Acronyms müssen eindeutig sein (innerhalb eines Artefact-Typs)." %}
		{% include /functions/define-message.html ignore=artefact.ignore msgno="e010" msg=myMsg %}
		{% assign errorList = errorList | push: out_msg %}
	{% endif %}
{% else %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="e011" msg="Acronym fehlt!" %}
	{% assign errorList = errorList | push: out_msg %}
{% endif %}

{% comment %}---------- responsible -----------{% endcomment %}
{% if artefact.responsible %}
	{% if artefact.responsible.size == 0 %}
		{% include /functions/define-message.html ignore=artefact.ignore msgno="e021"
				msg="Kein(e) Autor(en) (Feld 'responsible') angegeben!" %}
		{% assign errorList = errorList | push: out_msg %}
	{% else %}
		{% if artefact.responsible.size > 3 %}
			{% include /functions/define-message.html ignore=artefact.ignore msgno="w022"
					msg="Mehr als 3 Autoren (Feld 'responsible') - ist das so gewünscht?" %}
			{% assign warningList = warningList | push: out_msg %}
		{% endif %}
		{% for responsibleAcronym in artefact.responsible %}
			{% if site.data.people[responsibleAcronym] %}
			{% else %}
				{% assign myMsg = "Autor*in '" | append: responsibleAcronym |
												 append: "' in Feld 'responsible' exististiert nicht!" %}
				{% include /functions/define-message.html ignore=artefact.ignore msgno="e023" msg=myMsg %}
				{% assign errorList = errorList | push: out_msg %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% else %}
	{% include /functions/define-message.html ignore=artefact.ignore msgno="e021"
			msg="Kein(e) Autor(en) (Feld 'responsible') angegeben!" %}
	{% assign errorList = errorList | push: out_msg %}
{% endif %}

{% comment %}---------- source -----------{% endcomment %}



{% assign errorString = errorList | join: ";" %}
{% assign warningString = warningList | join: ";" %}