---
layout: default
---

<h1>Autor*in »{{ page.nickname }}«</h1>

{% if page.aboutMe %}
<p>"{{ page.aboutMe }}"</p>
{% endif %}

<h2>Alle Artefakte</h2>

<p>
    Nachfolgend sind alle von {{ page.nickname }} (mit-)erstellten Artefakte aufgelistet. Wenn es Co-Autor*innen
    gibt, sind diese ebenfalls aufgelistet.
</p>

<table>
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="10%">ID</th>
        <th width="45%">Artefact</th>
        <th width="30%">Ko-Autor(en)</th>
    </tr>
    </thead>
    <tbody>
    {% for artefactType in site.data.metadata %}
        {% assign artefactTypeName = artefactType[0] %}
        {% assign collectionName = artefactType[1].collection | append: "" %}
        {% assign collection = site[collectionName] %}
        {% assign authorRef = page.acronym %}
        {% assign responsibleItems = collection | where_exp: "item", "item.responsible contains authorRef" %}

        {% for item in responsibleItems %}
            </tr>
                <td>&nbsp;</td>

                {% include /functions/get-globalid.html myCollection=collection myArtefact=item myType=artefactTypeName %}
                <td><a href='{{ site.url }}{{ item.url | relative_url }}'>{{ globalId }}</a></td>

                {% assign sortField = artefactType[1].sortField | append: "" %}
                <td><a href='{{ site.url }}{{item.url | relative_url }}'>{{ item[sortField] }} </a></td>

                {% include /functions/resolve-names.html myResponsible=item.responsible myExclude=page %}
                <td>{{ responsibleString }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>


<h2>Alle offenen Errors, Warnungen und Todos von {{ page.nickname }}</h2>

tbd

