---
layout: default
---

{% include /functions/get-globalid.html myCollection=site.functionalRequirements myArtefact=page myPrefix="FR" %}
<h1>Funktionale Anforderung »{{ page.title }}« ({{ globalId }})</h1>

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html my_responsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    <dt>Zahlt ein auf Ziel(e)</dt>
    {% include /functions/print-goalrefs-as-links.html myArtefact=page %}

    <dt>Implementierungs-Status</dt>
    {% include /functions/get-implementation-status.html my_requirement=page %}
    <dd>{{ implementationStatus }}</dd>

    <dt>Kano-Typ</dt>
    {% include /functions/get-kano-type.html my_requirement=page %}
    <dd>{{ kanoType }} </dd>
    <dt>Begründung für Kano-Typ</dt>
    <dd>{{ kanoReasoning }}</dd>

    <dt>Punkte aus Vorpriorisierung</dt>
    <dd>{{ page.prefilterPriorizationPoints }}</dd>

    <dt>History</dt>
    {% for entry in page.history %}
        <dd>({{ entry[0]}}) &nbsp; {{ entry[1].date }} - {{ entry[1].comment }}</dd>
    {% endfor %}

    {% include /functions/checks/check-generic-aspects.html myArtefact=page myErrorString="" myWarningString="" %}
    {% include /functions/checks/check-goal-refs.html myArtefact=page myErrorString=errorString myWarningString=warningString %}
    {% include /functions/checks/check-functionalRequirement.html myArtefact=page myErrorString=errorString myWarningString=warningString %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>

<h2>Anforderung (entsprechend Satzschablone)</h2>

{{ page.content }}
