---
layout: default
---
{% include /functions/print-teacherbuttons.html myArtefact=page %}

{% include /functions/print-page-navigation.html myArtefact=page %}

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
<h1>Funktionale Anforderung {{ artefactName }}</h1>

<dl>
    {% include /functions/print-authors.html page=page %}

    <dt>Zahlt ein auf Ziel(e)</dt>
    {% if page.goals %}
        {% for goalRef in page.goals %}
            {% include /functions/get-link-to-artefact.html myRef=goalRef myTypeString="goal" myIdFormat="prefix" %}
            <dd>{{ artefactLink }}</dd>
        {% endfor %}
    {% endif %}

    {% assign relatedUseCases = site.useCases | where_exp: "uc", "uc.functionalRequirement == page.acronym" %}
    {% if relatedUseCases.size > 0 %}
        <dt>Zugehörige Use Cases</dt>
        {% for relatedUseCase in relatedUseCases %}
            {% include /functions/get-artefact-name.html myArtefact=relatedUseCase myIdFormat="prefix" %}
            <dd><a href="{{ site.url }}{{ relatedUseCase.url | relative_url }}">{{ artefactName }}</a></dd>
        {% endfor %}
    {% endif %}

    {% assign relatedUserStories = site.userStories | where_exp: "us", "us.functionalRequirement == page.acronym" %}
    {% if relatedUserStories.size > 0 %}
    <dt>Zugehörige User Stories</dt>
        {% for relatedUserStory in relatedUserStories %}
            {% include /functions/get-artefact-name.html myArtefact=relatedUserStory myIdFormat="prefix" %}
            <dd><a href="{{ site.url }}{{ relatedUserStory.url | relative_url }}">{{ artefactName }}</a></dd>
        {% endfor %}
    {% endif %}

    <dt>Implementierungs-Status</dt>
    {% include /functions/get-implementation-status.html my_requirement=page %}
    <dd>{{ implementationStatus }}</dd>

    <dt>Kano-Typ</dt>
    {% include /functions/get-kano-type.html myRequirement=page %}
    <dd>{{ kanoType }} </dd>
    <dt>Begründung für Kano-Typ</dt>
    <dd>{{ kanoReasoning }}</dd>

    <dt>Punkte aus Vorpriorisierung</dt>
    <dd>{{ page.prefilterPriorizationPoints }}</dd>

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-functionalRequirement.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>

<h2>Anforderung (entsprechend Satzschablone)</h2>

{{ page.content }}
