---
layout: default
---

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
<h1>Funktionale Anforderung {{ artefactName }}</h1>

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html myResponsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    <dt>Zahlt ein auf Ziel(e)</dt>
    {% if page.goals %}
        {% for goalRef in page.goals %}
            {% include /functions/get-link-to-artefact.html myRef=goalRef myTypeString="goal" myIdFormat="prefix" %}
            <dd>{{ artefactLink }}</dd>
        {% endfor %}
    {% endif %}

    <dt>Implementierungs-Status</dt>
    {% include /functions/get-implementation-status.html my_requirement=page %}
    <dd>{{ implementationStatus }}</dd>

    <dt>Kano-Typ</dt>
    {% include /functions/get-kano-type.html myRequirement=page %}
    <dd>{{ kanoType }} </dd>
    <dt>Begründung für Kano-Typ</dt>
    <dd>{{ kanoReasoning }}</dd>

    <dt>Punkte aus Vorpriorisierung</dt>
    <dd>{{ page.prefilterPriorizationPoints }}</dd>

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-functionalRequirement.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>

<h2>Anforderung (entsprechend Satzschablone)</h2>

{{ page.content }}
