---
layout: default
---

{% include /functions/get-globalid.html myCollection=site.goals myArtefact=page myType="goal" %}
<h1>Ziel »{{ page.title }}« ({{ globalId }})</h1>

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html myResponsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-goal.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
