---
layout: default
---

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
<h1>Ziel {{ artefactName }}</h1>

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html myResponsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    {% if page.partOfLargerGoal %}
        <dt>Teil des übergreifenden Ziels ...</dt>
        {% include /functions/get-link-to-artefact.html myRef=page.partOfLargerGoal myTypeString="goal"
                myIdFormat="prefix" %}
        <dd>{{ artefactLink }}</dd>
    {% endif %}

    <dt>Quellen</dt>
    {% for source in page.source %}
        <dd>{{ source }}</dd>
    {% endfor %}

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-goal.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
