---
layout: default
---

{% if site.teacherMode == true %}
<div class="teachergrid">
    <button onclick="setGrading()">0</button>
    <button onclick="setGrading()">0,5</button>
    <button onclick="setGrading()">1</button>
    <button onclick="setGrading()">1,5</button>
    <button onclick="setGrading()">2</button>
    <button onclick="setGrading()">2,5</button>
    <button onclick="setGrading()">3</button>
    <a id="results">Download CSV</a><br>
</div>
{% endif %}




{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
{% if page.isTopLevel %}
    <h1>Hauptziel {{ artefactName }}</h1>
{% else %}
    <h1>Unterziel {{ artefactName }}</h1>
{% endif %}

{% include /functions/print-page-navigation.html myArtefact=page %}

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html myResponsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    {% if page.isTopLevel == true %}
        {% assign thisAcronym = page.acronym %}
        {% assign foundSubGoals = site.goals | where_exp: "goal", "goal.belongsTo == thisAcronym" %}
        {% if foundSubGoals.size > 0 %}
            <dt>Unterziele</dt>
            {% for foundSubGoal in foundSubGoals %}
                {% include /functions/get-artefact-name.html myArtefact=foundSubGoal myIdFormat="postfix" %}
                <dd><a href="{{ site.url }}{{ foundSubGoal.url | relative_url }}">{{ artefactName }}</a></dd>
            {% endfor %}
        {% endif %}
    {% else %}
        <dt>Teil des übergreifenden Ziels ...</dt>
        {% include /functions/get-link-to-artefact.html myRef=page.belongsTo myTypeString="goal"
                myIdFormat="postfix" %}
        <dd>{{ artefactLink }}</dd>
    {% endif %}

    <dt>Quellen</dt>
    {% for source in page.source %}
        <dd>{{ source }}</dd>
    {% endfor %}

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-goal.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
