---
layout: default
---

{% assign stakeholder = site.stakeholders | where: "acronym", page.stakeholder | first %}

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfix" %}
<h1>{{ artefactName }}</h1>

{% include /functions/print-page-navigation.html myArtefact=page %}

<dl>
    <dt>Acronym</dt>
    <dd>{{ page.acronym }}</dd>

    <dt>Stakeholder</dt>
    <dd>{{ stakeholder.name }}</dd>

    <dt>Responsible</dt>
    <dd>{% include /functions/resolve-names.html myResponsible=page.responsible %}{{ responsibleString }}</dd>



    {% if page.todos and page.todos.size > 0 %}
        {% assign todo_counter = 0 %}
        <dt>Todos</dt>
        {% for entry in page.todos %}
            {% assign todo_counter = todo_counter | plus: 1 %}
            <dd>({{ todo_counter }}) {{ entry }}</dd>
        {% endfor %}
    {% endif %}

    <dt>History</dt>
    {% for entry in page.history %}
        <dd>({{ entry[0]}}) &nbsp; {{ entry[1].date }} - {{ entry[1].comment }}</dd>
    {% endfor %}

</dl>


{{ page.content }}
