---
layout: default
---

{% include /functions/get-globalid.html
        myCollection=site.personas myArtefact=page myType="persona" %}
<h1>Persona »{{ page.name }}« ({{ globalId }})</h1>

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html myResponsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>


    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-persona.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString
            todos=page.todo %}
</dl>

{% assign myContent = page.content | raw_content %}
{% include /functions/annotate-sentence-numbers-in-content.html myContent=myContent %}
{{ contentString }}