---
layout: default
---

{% include /functions/get-globalid.html
        myCollection=site.reviews myArtefact=page myType="review" %}
<h1>Formales Review »{{ page.referencedType }}« ({{ globalId }})</h1>

<dl>
    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-generic-aspects.html myArtefact=page myErrorString="" myWarningString="" %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
