---
layout: default
---

{% include /functions/print-teacherbuttons.html myArtefact=page %}

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
<h1>Szenario {{ artefactName }}</h1>

{% include /functions/print-page-navigation.html myArtefact=page %}

<p>tbd. Szenariotyp</p>

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html myResponsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    <dt>Persona für dieses Szenario</dt>
    <dd>{{ page.persona }} (tbd. - als Link)</dd>

    <dt>Andere Szenarien für diese Persona</dt>
    <dd>tbd</dd>

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-scenario.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString
    todos=page.todo %}
</dl>

{% assign myContent = page.content | raw_content %}
{% include /functions/annotate-sentence-numbers-in-content.html myContent=myContent %}
{{ contentString }}