---
layout: default
---

{% include /functions/get-globalid.html
        myCollection=site.stakeholders myArtefact=page myType="stakeholder" %}
{% if page.subtype == "group" %}
    {% assign artefactString = "Stakeholder-Gruppe" %}
{% else %}
    {% assign artefactString = "Stakeholder" %}
{% endif %}
<h1>{{ artefactString }} »{{ page.name }}« ({{ globalId }})</h1>

{% if page.anonymous %}
    <p>
        Auf Wunsch des Stakeholders wird der Klarname hier nicht genannt.
    </p>
{% endif %}

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html my_responsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    <dt>Stakeholder-Rolle</dt>
    {% for shr in page.stakeholderRole %}
        {% include /functions/get-link-to-stakeholder-role.html myRoleAcronym=shr withId=true%}
        <dd>{{ stakeholderRoleLink }}</dd>
    {% endfor %}


    <dt>Beziehung zum Projekt</dt>
    <dd> {{ page.relationshipToProject }} </dd>

    {% assign interviews = site.interviews | where: "stakeholder", page.acronym %}
    {% if interviews.size > 0 %}
        <dt>Interview</dt>
        {% for interview in interviews %}
            {% include /functions/get-interview-name.html myInterview=page %}
            <dd><a href="{{ site.url }}{{ interview.url | relative_url }}">{{ interviewName }}</a></dd>
        {% endfor %}
    {% endif %}

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-generic-aspects.html myArtefact=page myErrorString="" myWarningString="" %}
    {% assign stakeholderRoleRef = page.stakeholderRole %}
    {% include /functions/checks/check-stakeholderRole-refs.html myStakeholderRoleRef=stakeholderRoleRef
            myAsList=true myPurpose="Stakeholder-Rolle" myErrorString=errorString myWarningString=warningString %}
    {% include /functions/checks/check-stakeholder.html myArtefact=page  myErrorString=errorString myWarningString=warningString %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
