---
layout: default
---

{% include /functions/get-globalid.html myCollection=site.stakeholderRoles myArtefact=page myPrefix="SHR" %}
<h1>Stakeholder-Rolle »{{ page.name }}« ({{ globalId }})</h1>

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html my_responsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    <dt>Beschreibung</dt>
    <dd>{{ page.description }}</dd>

    <dt>Stakeholder mit dieser Rolle</dt>
    <dd>tbd.</dd>

    <dt>Wo wird diese Stakeholder-Rolle verwendet?</dt>
    <dd>tbd.</dd>

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-generic-aspects.html myArtefact=page
            myErrorString="" myWarningString="" %}
    {% include /functions/checks/check-stakeholderRole.html myArtefact=page
            myErrorString=errorString myWarningString=warningString %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
