---
layout: default
---

{% include /functions/get-globalid.html
        myCollection=site.stakeholderRoles myArtefact=page myType="stakeholderRole" %}
<h1>Stakeholder-Rolle »{{ page.name }}« ({{ globalId }})</h1>

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html my_responsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    <dt>Beschreibung</dt>
    <dd>{{ page.description }}</dd>

    {% include /functions/find-artefacts-referencing-stakeholder-role.html
            myStakeholderRole=page myType="stakeholder" myCollection=site.stakeholders %}
    {% assign linkList = linksString | split: ";" %}
    {% if linkList.size > 0 %}
        <dt>Stakeholder mit dieser Rolle</dt>
        {% for link in linkList %}
            <dd>{{ link }}</dd>
        {% endfor %}
    {% endif %}

    <dt>Befragungen dieser Stakeholder-Rolle</dt>
    <dd>Interviews</dd>
    <dd>Survey</dd>
    <dd>Workshop</dd>

    <dt>Wo tritt diese Stakeholder-Rolle als Aktor auf?</dt>
    <dd>Persona</dd>
    <dd>Use Case</dd>
    <dd>User Story</dd>


    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-generic-aspects.html myArtefact=page
            myErrorString="" myWarningString="" %}
    {% include /functions/checks/check-stakeholderRole.html myArtefact=page
            myErrorString=errorString myWarningString=warningString %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
