---
layout: default
---

{% include /functions/print-teacherbuttons.html myArtefact=page %}

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
{% include /functions/get-system-context-subtype.html mySystemContextElement=page %}
<h1>Systemkontext: {{ subTypeString }} {{ artefactName }}</h1>

{% include /functions/print-page-navigation.html myArtefact=page %}

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html myResponsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    <dt>Quellen</dt>
    {% for source in page.source %}
        <dd>{{ source }}</dd>
    {% endfor %}

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-systemContextElement.html myArtefact=page %}
    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
