---
layout: default
---

{% include /functions/get-artefact-name.html myArtefact=page myIdFormat="postfixWithBrackets" %}
<h1>User Story {{ artefactName }}</h1>

<dl>
    <dt>Autor(en)</dt>
    {% include /functions/resolve-names.html myResponsible=page.responsible %}
    <dd>{{ responsibleString }}</dd>

    <dt>Als</dt>
    {% include /functions/get-link-to-artefact.html myRef=page.asA myTypeString="stakeholderRole"
            myIdFormat="none" %}
    <dd>{{ artefactLink }}</dd>

    <dt>möchte ich</dt>
    <dd>{{ page.iWantTo }}</dd>

    <dt>damit</dt>
    <dd>{{ page.forThisReason }}</dd>

    {% include /functions/print-history.html myArtefact=page %}

    {% include /functions/checks/check-userStory.html myArtefact=page %}
    {% assign stakeholderRoleRef = page.asA %}

    {% include /functions/print-detailed-check-messages.html errors=errorString warnings=warningString todos=page.todo %}
</dl>


{{ page.content }}
