---
layout: default
---

<h1>Funktionale Anforderungen</h1>

<p>
    Funktionale Anforderungen beschreiben die gewünschte Funktionalität eines Systems, dessen
    Verhalten und dessen Daten. Dabei kondensiert man die Anforderungen an ein IT-System in eine Menge
    von kompakten (ein Satz!) Forderungen, die man gut priorisieren und in eine Projektplanung überführen kann.
</p>
<p>
    Solche Ein-Satz-Anforderungen können oft unterschiedlich interpretiert werden.
    Um diesem Problem entgegenzuwirken, sollten potentielle sprachliche Unklarheiten eliminiert
    und Anforderungen mittels Satzschablonen eindeutig formuliert werden.
</p>



<table>
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="25%">Name</th>
        <th width="25%">Zahlt ein auf Ziel(e)</th>
        <th width="15%">Implementierungs-Status</th>
        <th width="15%">Kano-Typ</th>
        <th width="10%">Punkte aus Vorpriorisierung</th>
    </tr>
    </thead>
    <tbody>
        {% assign functionalRequirements = site.functionalRequirements | sort: "prefilterPriorizationPoints" | reverse %}
        {% for functionalRequirement in functionalRequirements %}
        <tr>
            {% include /functions/checks/check-functionalRequirements.html myArtefact=functionalRequirement %}
            {% include /functions/get-check-icon.html errors=errorString warnings=warningString todos=functionalRequirement.todo %}
            <td>{{ iconString }}</td>
            <td><a href="{{ site.url }}{{ functionalRequirement.url | relative_url }}">{{ functionalRequirement.title }}</a></td>
            <td>(tbd.)</td>
            {% include /functions/implementation-status.html my_requirement=functionalRequirement %}
            <td>{{ implementationStatus }}</td>
            {% include /functions/kano-type.html my_requirement=functionalRequirement %}
            <td>{{ kanoType }}</td>
            <td>{{ functionalRequirement.prefilterPriorizationPoints }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
