---
layout: default
---

<h1>Interviews</h1>

<p>
    Ein <b>Interview</b> eine Form der Befragung mit dem Ziel, persönliche Informationen, Sachverhalte oder Meinungen zu ermitteln.
</p>


<table>
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="50%">Interview-Protokoll</th>
        <th width="30%">Interviewpartner (Stakeholder)</th>
    </tr>
    </thead>
    <tbody>
        {% assign sortField = site.data.metadata["interview"].sortField %}
        {% assign collection = site.interviews | sort: sortField %}
        {% for interview in collection %}
        <tr>
            <td>&nbsp;</td>
            {% include /functions/get-artefact-name.html myArtefact=interview myIdFormat="prefix" %}
            <td><a href="{{ site.url }}{{ interview.url | relative_url }}">{{ artefactName }}</a></td>
            <td>{% include /functions/print-link-to-stakeholder.html myStakeholderAcronym=interview.stakeholder %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
