---
layout: default
---

<h1>Beteiligte Personen</h1>

<p>
    Diese Website wurde von Studierenden des Informatik Masters als Fallstudie im Rahmen der Lehrveranstaltung
    "Anforderungsmanagement" gestaltet. Hier sind die Beteiligten aufgelistet. Da dies eine öffentliche Webpräsenz
    ist, werden wir keine echten Namen verwenden. Stattdessen werden die Beteiligten über 3-Buchstaben-Akronyme
    und einen frei wählbaren Nickname identifiziert.
</p>

<table>
    <thead>
    <tr>
        <th width="10%">Akronym</th>
        <th width="15%">Nickname</th>
        <th width="5%">Teilteam</th>
    </tr>
    </thead>
    <tbody>
        {% for person in site.data.people %}
        <tr>
            <td>{{ person[0] }}</td>

            {% if person[1].nickname %}
            <td>{{ person[1].nickname }}</td>
            {% else %}
            <td>???</td>
            {% endif %}

            {% if person[1].team %}
            <td>{{ person[1].team }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
