---
layout: default
---

<h1>Artefakte nach beteiligten Personen</h1>

<p>
    In dieser Übersicht sind alle erstellten Lastenheft-Artefakte nach den Verantwortlichen aufgeschlüsselt.
    Die Inhalte dieser Website wurde von Studierenden des Informatik Masters als Fallstudie im Rahmen der Lehrveranstaltung
    "Anforderungsmanagement" gestaltet. Da dies eine öffentliche Webpräsenz ist, ist es empfohlen, keine Klarnamen
    zu verwenden, sondern stattdessen Nicknames.
</p>

{% for person in site.data.people %}
<tr>
    <td>{{ person[0] }}</td>

    {% if person[1].nickname %}
    <td>{{ person[1].nickname }}</td>
    {% else %}
    <td>???</td>
    {% endif %}

    {% if person[1].team %}
    <td>{{ person[1].team }}</td>
    {% else %}
    <td>-</td>
    {% endif %}
</tr>
{% endfor %}

<table>
    <thead>
    <tr>
        <th width="10%">Akronym</th>
        <th width="15%">Nickname</th>
        <th width="5%">Teilteam</th>
    </tr>
    </thead>
    <tbody>
        {% for person in site.data.people %}
        <tr>
            <td>{{ person[0] }}</td>

            {% if person[1].nickname %}
            <td>{{ person[1].nickname }}</td>
            {% else %}
            <td>???</td>
            {% endif %}

            {% if person[1].team %}
            <td>{{ person[1].team }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
