---
layout: default
---

<h1>Personas</h1>

<p>
    Eine <b>Persona</b> stellt einen Prototyp für eine Gruppe von Stakeholdern dar, mit konkret ausgeprägten Eigenschaften und einem konkreten Nutzungsverhalten.
</p>



<table>
    <thead>
    <tr>
        <th width="40%">Name</th>
        <th width="60%">Rolle</th>

    </tr>
    </thead>
    <tbody>
    {% assign sortField = site.data.metadata["persona"].sortField %}
    {% assign collection = site.personas | sort: sortField %}
    {% for persona in collection %}
        <tr>
            <td><a href="{{ site.url }}{{ persona.url | relative_url }}">{{ persona.name }}</a></td>
            {% include /functions/get-link-to-stakeholder-role.html myRoleAcronym=persona.stakeholderRole withId=false %}
            <td>{{ stakeholderRoleLink }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
