---
layout: default
---

<h1>Priorisierung</h1>

<p>
    (tbd: kurze Erläuterung zum Priorisierungsprozess)
</p>

<h2>Wichtigste Ziele (Input für CAF/PMI)</h2>

<p>
    In der nachfolgenden Tabelle sind die Ziele gelistet (jeweils mit Anzahl Nennungen), die in den
    wichtigsten vorgefilterten funktionalen Anforderungen auftreten. (Das sind diejenigen mit einer
    Kano-Klassifikation.)
</p>

{% assign goalRefList = "" | split: ";" %}
{% assign relevantFrList = "" | split: ";" %}
{% for fr in site.functionalRequirements %}
    {% if fr.kano and fr.goals %}
        {% assign relevantFrList = relevantFrList | push: fr %}
        {% for goalRef in fr.goals %}
            {% if goalRef != nil %}
                {% include /functions/find-top-goal.html myGoalRef=goalRef %}
                {% if goalRefList contains topGoalRef %}
                {% else %}
                    {% assign goalRefList = goalRefList | push: topGoalRef %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}


<table>
    <thead>
    <tr>
        <th>Functional Requirement</th>
        {% for goalRef in goalRefList %}
            {% assign foundGoals = site.goals | where:"acronym", goalRef %}
            {% if foundGoals.size == 1 %}
                {% assign goal = foundGoals[0] %}
                {% include /functions/get-globalid.html myArtefact=goal %}
                <th><a href="{{ site.url }}{{ goal.url | relative_url }}">{{ globalId }}</a></th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for fr in relevantFrList %}
    <tr>
        <td>{{ fr.acronym }}</td>
        {% for currentTopGoalRef in goalRefList %}
            {% assign makeX = false %}
            {% for goalRef in fr.goals %}
                {% if goalRef != nil %}
                    {% include /functions/find-top-goal.html myGoalRef=goalRef %}
                    {% if currentTopGoalRef == topGoalRef %}
                        {% assign makeX = true %}
                        {% break %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if makeX %}
                <td>x</td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
