---
layout: default
---

<h1>Stakeholder</h1>

<p>
    Ein <b>Stakeholder</b> ist eine Person oder eine Organisation, die direkten Einfluss auf die Anforderungen
    des betrachteten Systems hat, und / oder ein Interesse an dem zu entwickelnden System. Stakeholder sind stets
    <i>konkrete</i> Personen oder Organisationen.
</p>
<p>
    Sie werden in dieser Webpräsenz ausschließlich öffentlich verfügbaren Angaben dargestellt, oder mit
    Informationen, in deren Veröffentlichung die Person oder Organisation eingewilligt hat (z.B. im Rahmen
    einer Expertenbefragung). U.U. sind Namen und Kontaktdetails anonymisiert, aber der Redaktion dieser
    Seite bekannt.
</p>


<table>
    <thead>
    <tr>
        <th width="10%">Akronym</th>
        <th width="15%">Name</th>
        <th width="30%">Rolle</th>
        <th width="45%">Beziehung zum Projekt</th>
    </tr>
    </thead>
    <tbody>
        {% for stakeholder in site.stakeholders %}
        <tr>
            <td>{{ stakeholder.acronym }}</td>
            <td><a href="{{ site.url }}{{ stakeholder.url | relative_url }}">{{ stakeholder.name }}</a></td>
            <td>{% include /functions/print-link-to-role.html myRoleAcronym=stakeholder.stakeholderRole %}</td>
            <td>{{ stakeholder.relationshipToProject }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
