---
layout: default
---

<h1>Stakeholder-Rollen</h1>

<p>
    <b>Stakeholder-Rollen</b> sind verallgemeinerte, "typische" Rollen von Stakeholdern, die dann etwa in
    Use Cases Verwendung finden können. Ein Beispiel: "Prof. Dr. Erika Musterfrau, Professorin für angewandte
    Mathematik" wäre ein Stakeholder, während "Professor*in" die Stakeholder-Rolle ist.
</p>


<table>
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="10%">ID</th>
        <th width="30%">Name</th>
        <th width="60%">Beschreibung</th>
    </tr>
    </thead>
    <tbody>
    {% assign sortField = site.data.metadata["stakeholderRole"].sortField %}
    {% assign collection = site.stakeholderRoles | sort: sortField %}
    {% for stakeholderRole in collection %}
    <tr>
        {% include /functions/checks/check-stakeholderRole.html myArtefact=stakeholderRole %}
        {% include /functions/get-check-icon.html errors=errorString warnings=warningString todos=stakeholderRole.todo %}
        <td>{{ iconString }}</td>

        {% include /functions/get-globalid.html myArtefact=stakeholderRole %}
        <td><a href="{{ site.url }}{{ stakeholderRole.url | relative_url }}">{{ globalId }}</a></td>
        <td><a href="{{ site.url }}{{ stakeholderRole.url | relative_url }}">{{ stakeholderRole.name }}</a></td>
        <td>{{ stakeholderRole.description }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
