---
layout: default
---

<h1>Stakeholder</h1>

<p>
    Ein <b>Interview</b> eine Form der Befragung mit dem Ziel, persönliche Informationen, Sachverhalte oder Meinungen zu ermitteln.
</p>


<table>
    <thead>
    <tr>
        <th width="10%">Akronym</th>
        <th width="70%">Subject</th>
        <th width="20%">Stakeholder Role</th>
    </tr>
    </thead>
    <tbody>
        {% for survey in site.surveys %}
        <tr>
            {% assign file_name = survey.url | relative_url %}
            <td>{{ survey.acronym }}</td>
            <td><a href="{{ site.url }}{{ file_name | relative_url }}">{{ survey.subject }}</a></td>
            <td>{% include /functions/link-to-role.html myRoleAcronym=survey.stakeholder_role %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
