---
layout: default
---

<h1>Systemkontext</h1>

<p>
    Der <b>Systemkontext</b> ist der Teil der Umgebung des Systems, der für die Definition und das Verständnis der Systemanforderungen relevant ist, selbst aber nicht gestalt- oder veränderbar ist
</p>



<table>
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="10%">ID</th>
        <th width="60%">Name</th>
        <th width="60%">Typ</th>
    </tr>
    </thead>
    <tbody>
    {% assign sortField = site.data.metadata["systemContextElement"].sortField %}
    {% assign collection = site.systemContextElements | sort: sortField %}
    {% for systemContextElement in collection %}
    <tr>
        {% include /functions/checks/check-systemContextElement.html myArtefact=systemContextElement %}
        {% include /functions/get-check-icon.html errors=errorString warnings=warningString
                todos=systemContextElement.todo %}
        <td>{{ iconString }}</td>

        {% include /functions/get-globalid.html myArtefact=systemContextElement %}
        <td><a href="{{ site.url }}{{ systemContextElement.url | relative_url }}">{{ globalId }}</a></td>

        {% include /functions/get-artefact-name.html myArtefact=systemContextElement %}
        <td><a href="{{ site.url }}{{ systemContextElement.url | relative_url }}">{{ artefactName }}</a></td>

        {% include /functions/get-system-context-subtype.html mySystemContextElement=systemContextElement %}
        <td><a href="{{ site.url }}{{ systemContextElement.url | relative_url }}">{{ subTypeString }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
