{% assign contentString = include.myContent %}

{% for counter in (1..100) %}
    {% if contentString contains "." %}
        {% assign numberStr = " <span style='color:#ffcc00;font-weight:bold'>(" | append: counter |
                    append: ")</span>$$$" %}
        {% assign contentString = contentString | replace_first: ".", numberStr %}
    {% else %}
        {% break %}
    {% endif %}
{% endfor %}

{% assign contentString = contentString | replace: "$$$", "." %}
{% assign contentString = contentString | markdownify %}


