{% assign stakeholderRole = include.myStakeholderRole %}

{% assign whereExpString = "stakeholder.stakeholderRole contains '"|
            append: stakeholderRole.acronym | append: "'" %}
{% assign stakeholderList = site.stakeholders | where_exp: "stakeholder", whereExpString %}
{% assign linkList = "" | split: ";" %}
{% for stakeholder in stakeholderList %}
    {% capture link %}<a href="{{ site.url }}{{ stakeholder.url | relative_url }}">{{ stakeholder.name }}</a>{% endcapture %}
    {% assign linkList = linkList | push: link %}
{% endfor %}

{% assign stakeholderLinksString = linkList | join: ";" %}
