{% assign artefact = include.myArtefact %}
{% assign collection = include.myCollection %}
{% assign prefix = include.myPrefix %}

{% assign sortField = site.data.metadata[artefact.type].sortField %}
{% assign collection = collection | sort: sortField %}

{% assign index = 0 %}
{% for element in collection %}
    {% if artefact.acronym == element.acronym %}
        {% assign index = forloop.index %}
        {% break %}
    {% endif %}
{% endfor %}

{% assign globalId = index | prepend: "-" | prepend: prefix %}