{% assign artefact = include.myArtefact %}

{% assign type = artefact.type  %}
{% assign typeMetadata = site.data.metadata[type] %}

{% if typeMetadata %}
    {% assign prefix = typeMetadata.prefix %}
    {% assign sortField = typeMetadata.sortField %}
    {%- comment -%} -- append: "" makes it a real string, for whatever reason, doesn't work otherwise -- {%- endcomment -%}
    {% assign collectionName = typeMetadata.collection | append: "" %}
    {% assign collection = site[collectionName] %}

    {% if collection %}
        {% assign collection = site[collectionName] | sort: sortField %}
    {% else %}
        {% assign collection = "" | split: ";" %}
    {% endif %}

    {% assign index = 0 %}
    {% for element in collection %}
        {% if artefact.acronym == element.acronym %}
            {% assign index = forloop.index %}
            {% break %}
        {% endif %}
    {% endfor %}



    {% assign globalId = index | prepend: "-" | prepend: prefix %}
{% else %}
    {% assign globalId = "XX-??" %}
{% endif %}