{% assign acronymList = include.my_responsible %}
{% assign responsibleList = "" | split: ";" %}

{% for person_raw in acronymList %}
	{% assign acronym = person_raw | strip | downcase %}
	{% if site.data.people[acronym] %}
		{% if site.data.people[acronym].nickname %}
			{% assign responsibleList = responsibleList | push: site.data.people[acronym].nickname %}
		{% else %}
			{% assign responsibleList = responsibleList | push: acronym %}
		{% endif %}
	{% endif %}
{% endfor %}

{% if responsibleList.size > 0 %}
	{% assign responsibleString = responsibleList | array_to_sentence_string: "und" }} %}
{% else %}
	{% assign responsibleString = "???" %}
{% endif %}


